button.btn.menuBtn {
    background-color: #C8D5E1;
    color: black;
}

.menuBar {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    margin: 24px 0 0 10px;
}

.side-nav a {
    font-size: 20px;
}