.formContainer {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 50px 0 0 200px;
}

.column {
    width: 40%;
    padding: 0 50px 0 50px;
}

.mapIcon {
    margin-bottom: 22px;
    color: black;
}

.mapIcon:hover {
    color: #476F9D;
}

h3 {
    text-align: center;
}

.doneBtn {
    background-color: #476F9D;
}

button.btn.waves-effect.waves-light.btn-flat.modal-action.modal-close {
    color: white;
    background-color: gray;
}

html {
    background-color: #C8D5E1;
    font-family: 'EB Garamond', serif;
}

.input-field.col label { 
    color: black;
}

label {
    color: black;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #476F9D;
}
