.formContainer {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 50px 0 0 200px;
}

.column {
    width: 40%;
    padding: 0 50px 0 50px;
}

.mapIcon {
    margin-bottom: 22px;
    color: black;
}

.mapIcon:hover {
    color: gray;;
}

h3 {
    text-align: center;
}

.doneBtn {
    background-color: #476F9D;
}

button.btn.waves-effect.waves-light.btn-flat.modal-action.modal-close {
    color: white;
    background-color: gray;
}


