button.btn.menuBtn {
    background-color: gray;
    
}

.menuBar {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 26px;
}

/* .side-nav {
    right: 0;
} */
/* 
ul.side-nav {
    right: 0
} */