.NavBar {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
  }
  
.welcome {
  text-align: center;
  margin-right: 40px;
  font-size: 18px;
  margin-top: 10px;
}

.welcomeUser {
  color: black;
}