.nav-wrapper {
    background-color: #98A6AE;
}

.brand-logo {
    margin-left: 36px;
    margin-top: 13px;
}

.landingLinkOne, .landingLinkTwo {
    font-size: 17px;
    font-weight: 400;
    margin-top: 8px;
}

.landingLinkOne {
    margin-right: 18px;
}

.landingLinkTwo {
    margin-right: 25px;
}

nav .nav-wrapper {
    height: 130%;
    
}

.flyingPic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}



